.reveal .slides section .fragment.highlight-red.visible {
    color: firebrick;
    font-weight: bold;
}


 /* https: //stackoverflow.com/questions/166160/how-can-i-scale-the-content-of-an-iframe  */
.frame-ipynb { width:1600px ;  height: 350px; position:relative; left:-45px; top:0px; }
.frame-ipynb { -ms-zoom: 1.7; -moz-transform: scale(1.7); -moz-transform-origin: 0px 0; -o-transform: scale(1.7); -o-transform-origin: 0 0; -webkit-transform: scale(1.7); -webkit-transform-origin: 0 0; }

#refs { margin-top: 100px; font-size: 0.80em; display: inline-block; width: 80%; }

.bigsection {
  text-align:left; font-size:100px; font-weight: bold; margin-top:50px;
} 

aside .citation {
  font-size: 0.7em;
}